

html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
  font-family: 华文细黑,sans-serif;
  
    
}

*{padding:0px; margin:0px;border:none;}
i,b{font-style:normal;}
img{ max-width:100%;}
a{color:#444444; text-decoration:none;}
a:hover{text-decoration:none; color:#444444;}
p { margin:10px;}
li{overflow:hidden; list-style-type:none;}
body{ background:url("../images/background_m.jpg"); 
background-position:'center';
background-size:cover;
 background-repeat:no-repeat;
 overflow-x:hidden;
 position:relative;
 background-attachment:fixed;
font-size: 14px;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h4, h4 {
    font-size: 18px;
}


/* Çå³ý¸¡¶¯ */
.clearfix:after{visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height: 0;}
.clearfix{*zoom:1;
    min-height: 150px;}
.wrap{ margin:0 auto;max-width:600px;position:relative;}

/* ²úÆ·ÁÐ±í */
.productList ul{ width:100%; }
.productList ul li{border:solid 1px #e5e6e6; 
 border-top:solid 1px #FFF;
 background:#FFF;
 margin:1.8em; padding:1em;border-radius: 10px; 
background-color:rgba(255,255,255,.75);}

.productList ul li .msg{ font:40 1.1em/1.1em 'microsoft yahei'; color:#A0A0A0; height:0.6em; margin:0.5em 0 0.3em 0.5em;}
.productList ul li .msg span{ display:block;}
.productList ul li .msg .time{ float:right;color:#696969}
.list-group-item{ border:none;border-radius: 5px; background-color:rgba(255,255,255,.05);
 }




.genpage{
	width: 100%;
	
}


/* 评论表单样式表 */
#forms{
width:90%;text-align:center;background-color:rgba(255,255,255,.9);
display:none;
border-radius:10px;padding:15px;}
.form {padding:10px;}

.bootstrap-frm {
margin:0 auto 30px;
max-width:600px;


font: 12px "microsoft yahei", Helvetica, Arial, sans-serif;
color: #888;
width:80%;
border-top:1px solid #DDD;
border-bottom:1px solid #DDD;

}

.bootstrap-frm h1 {
font: 20px  "microsoft yahei",Helvetica, Arial, sans-serif;

display: block;
width:80%;
margin: 10px 0px 30px 30px;
color: #000000;
text-align:center;
color:black;
}
.bootstrap-frm h1>span {
display: block;

font-size: 11px;
}
.bootstrap-frm label {
display: block;
margin: 0px 0px 5px;

}
.bootstrap-frm label>span {
float: left;
width: 20%;
text-align: right;
padding-right: 10px;
margin-top: 10px;
font-size:13px;
color: black;
font-family: "microsoft yahei", Helvetica, Arial, sans-serif;
font-weight: lighter;
}
.bootstrap-frm input{
border: 1px solid #CCC;
color: #3B3B3B;
font-weight: lighter;
height: 30px;
background-color:#fff;
*background-color:transparent;
background-color:rgba(255,255,255,.15);
line-height:15px;
margin-bottom: 16px;
margin-right: 6px;
margin-top: 2px;
outline: 0 none;
padding: 5px 0px 5px 5px;
width: 70%;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.bootstrap-frm input[type="text"], .bootstrap-frm textarea{
border: 1px solid #CCC;
color: #0E0D0D;;
font-weight: lighter;
height: 30px;
background-color:#fff;
*background-color:transparent;
background-color:rgba(255,255,255,.15);
line-height:20px;
margin-bottom: 16px;
margin-right: 6px;
margin-top: 2px;
outline: 0 none;
padding: 5px 0px 5px 5px;
width: 70%;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.bootstrap-frm textarea{
height:100px;
padding: 5px 0px 0px 5px;
width: 70%;
}

.bootstrap-frm textarea:focus{border: 1px solid rgba(79, 170, 240, 0.58);}
.bootstrap-frm input:focus{border: 1px solid rgba(79, 170, 240, 0.58);}
a.form_button {
float:left;
width:30%;
  margin-top:15px;
  border:1px solid #536376;
  border-radius:5px;
  text-align:center;
  margin-right: 5px;
  padding: 5px;
  }



/*
commment page css file*/


.des_board{
width:90%;text-align:center;background-color:rgba(255,255,255,.9);
display:none;
border-radius:10px;padding:15px;
}



.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;}
.pager li {
    display: inline;
    margin: 0 20px; 
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #ddd;
    border-radius: 15px;
}

.pager li>a :hover{
  background-color: #ddd;
}



.footer_btn{z-index: 9999;
	display:-webkit-box;display:-moz-box;

position: relative;
width:100%;
border-top:1px solid rgba(128, 128, 128, 0.4);

 }
.footer_btn .btn_yu{
	display:-webkit-box;
display:-moz-box;border-radius:6px;
-webkit-box-pack:center;
-moz-box-pack:center;
-webkit-box-align:center;
-moz-box-align:center;
font-size:15px;margin:10px;
height:30px;text-decoration:none;

background-color: rgba(255, 255, 255, 0.75);color:black;-webkit-box-flex:1;-moz-box-flex:1;}
.footer_btn .btn_yu:active{background-color:background-color:rgba(0, 162, 201);}



/* 搜索页面样式表 */
#mainTop {
    position: relative;
    width: 100%;
    
    height: 80px;
  
    padding-top: 5px;
    z-index: 12;
}
#searchOut {
    max-width: 600px;
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 30px;
    display: none;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}

#searchButton {
    position: absolute;
    top: 0;
    right: 10%;
    width: 70px;
    height: 40px;
    background-color: #842A40;
    border-radius: 0 40px 40px 0;
    -webkit-transition: all .2s ease;
    font-size: 18px;
    color: #fdfdfd;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    display: none;
    opacity: 0;
    margin-right: -2px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}
#searchButton:hover{-webkit-filter:brightness(1.1)}
#searchButton:active{-webkit-filter:brightness(1)}
input[type=search] {
    margin: 0;
    width: 70%;
    margin-left:10% ;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    background-color:  rgba(255,255,255,.5);
  
    border-radius: 30px 0 0 30px;
    color: #555;
    font-size: 14px;
    font-family: "Segoe UI","Microsoft Yahei",Arial;
}
.SearchInput {
    
      color: #842A40!important;
    font-size: 16px!important;
}

/* 搜索结果样式表 */
.searchResult{

    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
 
    border-radius: 10px;
  background-color: rgba(255,255,255,.5);
    text-align: center;
}
.searchResult ul{
  margin: 20px 0px;
  position: relative;
  width: 90%;
  display: inline-block;
}
.searchResult li{
height: 35px;
margin-bottom: 5px;
text-align: left;
font-size: 20px;
  vertical-align: center;

}
.songdetail{
  width: 70%;
  float: left;
margin-top: 5px;
}
.songdetail .song_name{
width: 60%;
    overflow-x: hidden;
}
.songdetail .song_author{
width: 40%;
 overflow-x: hidden;
float: right;
}
.searchResult li>a {
    display: inline-block;
    padding: 3px 14px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #ddd;
    border-radius: 15px;
    float: right;
      margin-top: 5px;
          font-size: 15px;
}

.searchResult li>a :hover{
  background-color: #ddd;
}


.genpage{
  width: 100%; 
}

#genpageform{
width:90%;text-align:center;background-color:rgba(255,255,255,.9);
display:none;
border-radius:10px;padding:15px;}
.form {padding:10px;}
