<div class="productList wrap clearfix" id="ul">
    <ul class="clearfix" id="postlist">

        {%for comment in comments %}
      <li id="{{comment.id}}" class='commenitem'>
	
	  <a>
		<h4>{{comment.id}} : {{comment.name}}</h4>
		<p  id="content">{{comment.contents}}</p>
	  </a>
	   <div class="msg">          	
          	<span class="time">{{comment.updated|date:'Y日m月d日H点'}}</span>
          </div>
		</li>
    {% endfor %}
</ul>
</div> 
		<div class="pagenavigation">
				
		<ul class="pager">
        {% if comments.has_previous %}
		  <li><a id="{{ comments.previous_page_number }}" class="btn_comment">上一页</a></li>
        {% endif %}
        {% if comments.has_next %}
		  <li><a id="{{ comments.next_page_number }}" class='btn_comment'>下一页</a></li>
		{% endif %}
		</ul>
		</div>


<script>
		$(document).ready(function(){

 $(".btn_comment").click(function(){
    var page =this.id;
    console.log(page);
    $.get("",{'page':page},function(ret){
    	$("#comment_contain").html(ret);
    	console.log($("song_des").scrollTop());
		$("html,body").animate({
			scrollTop:$("#song_des").offset().top},500);

		 });
	});



	   $('.commenitem').click(function(){ 
　　　　console.log(this.id); 
		$("#replayobjid").val(this.id);

	
	    $('#forms').lightbox_me({
	        centered: true,
	        overlaySpeed:100,
	        overlayCSS:{background: 'black',
			opacity: .8},
	        onLoad: function() {
	            $('#forms').find('input:first').focus()
	            }
	        });		   
　　}); 

		});

	</script>