

    <ul class="clearfix" id="postlist">

        {%for comment in comments %}
      <li id="{{comment.id}}" class='commenitem'>
	
	  <a>
		<h4>{{comment.id}} : {{comment.name}}</h4>
		<p  id="content">{{comment.contents}}</p>
	  </a>
	   <div class="msg">          	
          	<span class="time">{{comment.updated|date:'Y日m月d日H点'}}</span>
          </div>
		</li>
    {% endfor %}
</ul>

		<div class="pagenavigation">
				
		<ul class="pager">
        {% if comments.has_previous %}
		  <li><a href="?page={{ commentList.previous_page_number }}">上一页</a></li>
        {% endif %}
        {% if comments.has_next %}
		  <li><a href="?page={{ commentList.next_page_number }}">下一页</a></li>
		{% endif %}
		</ul>
		</div>