<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>outshine-</title>

    <!-- Bootstrap -->
   <!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/index.css" type="text/css"  />
      <link rel="stylesheet" href="../../static/css/lanrenzhijia.css" type="text/css" />
	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
	<style>
	.up{width:54px;height:54px;background:url(../../static/images/topback.gif) no-repeat 0 0;filter:alpha(Opacity=40);-moz-opacity:0.4;opacity: 0.4;}
	</style>

      <script type="text/javascript" src="../../static/js/scrolltopcontrol.js"></script>

	
  </head>
  <body>

	<div class="headerplay">
  <div class="music-player">

  <div class="info">


   
    <div class="center">
      <div class="jp-playlist">
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
   
    <div class="progress jp-seek-bar"> <span class="jp-play-bar" style="width: 0%"></span> </div>
  </div>
  <div class="controls">
    <div class="current jp-current-time">00:00</div>
    <div class="play-controls">
    
        <a href="javascript:;" class="icon-play jp-play" title="play" ></a>
        <a href="javascript:;" class="icon-pause jp-pause" title="pause"></a>

     </div>
    
  <div id="jquery_jplayer" class="jp-jplayer"></div>
</div>
</div>
<script src='../../static/js/jquery.jplayer.min.js'></script>
 <script src='../../static/js/jplayer.playlist.min.js'></script>
<script src="../../static/js/lanrenzhijia.js"></script>
   

	
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
			<div class="modal-content">
				
			  <div class="modal-header">
			  
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">来留下点足迹评论吧</h4>

			  </div>
			  <div class="modal-body">
				<form>
				  <div class="form-group">
					<label for="recipient-name" class="control-label">姓名:</label>
					<input type="text" name="name" class="form-control" id="recipient-name" maxlength="15" required="required">
                    <input type="hidden" name="replayobj" id="replayobjid" }>
				  </div>
				  <div class="form-group">
					<label for="message-text" class="control-label">内容:</label>
					<textarea class="form-control" name="contents" id="message-text" maxlength="100" required="required"></textarea>
				  </div>
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" id="rpsender" class="btn btn-primary" data-dismiss="modal" >发送</button>
			  </div>
			</div>
		  </div>
		</div>
	

	
		<div class="modal fade" id="genpage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
			<div class="modal-content">
				
			  <div class="modal-header">
			  
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="genpagetitle">复制网易云音乐上的歌曲链接</h4>

			  </div>
			  <div class="modal-body">
				<form>
				  <div class="form-group">
					<label for="recipient-name" class="control-label">歌曲链接:</label>
					<input type="text" name="name" class="form-control" id="songlink" maxlength="150" required="required">
                 
				  </div>
				  <div class="form-group">
					<label for="message-text" class="control-label">说两句吧:</label>
					<textarea class="form-control" name="contents" id="songtext" maxlength="100" required="required"></textarea>
				  </div>
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" id="sendgetpage" class="btn btn-primary" data-dismiss="modal" >生成页面</button>
			  </div>
			</div>
		  </div>
		</div>



	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
			<div class="modal-content">
			<div class="panel panel-info">
			<div class="panel-heading"></div>
			  <div class="panel-body">

			  </div>
			</div>
			</div>
			
		 
		 <div class="modal-footer">
			<button type="button" id="modifiy" class="btn btn-lg" data-dismiss="modal">返回修改</button>
			<button type="button" id="sender" class="btn btn-primary btn-lg" data-dismiss="modal" >保存</button>
		</div>
	</div>
	</div>




	
	<div class="productList wrap clearfix" id="ul">
    <ul class="clearfix" id="postlist">
        {%for comment in commentList %}
      <li>
		<div class="list-group"  data-toggle="modal" data-target="#exampleModal" data-whatever="{{comment.id}}">
		  <a  class="list-group-item" >
			<h4 class="list-group-item-heading" >{{comment.id}} : {{comment.name}}</h4>
			<p class="list-group-item-text" id="content">{{comment.contents}}</p>
		  </a>
		   <div class="msg">          	
          	<span class="time">{{comment.updated|date:'Y日m月d日H点'}}</span>
          </div>
		</div>
		</li>
    {% endfor %}


</ul>
</div>
		<div class="pagenavigation">
				
		<ul class="pager">
        {% if commentList.has_previous %}
		  <li><a href="?page={{ commentList.previous_page_number }}">上一页</a></li>
        {% endif %}
        {% if commentList.has_next %}
		  <li><a href="?page={{ commentList.next_page_number }}">下一页</a></li>
{% endif %}
		</ul>

		
		</div>
	<div id="forms" >
		<form action="" id="comform" method="POST" class="bootstrap-frm" >
            {% csrf_token %}
		<h1>留下你的祝福吧
		</h1>
		<label>
		<span>留言 :</span>
		<textarea id="message" name="contents" placeholder="人矮轻拍" maxlength="100" minlength="4" required="required"></textarea>
		</label>
		<label>
		<span>昵称 :</span>
		<input id="name"  type="text" name="name" placeholder="你的大名" required="required" maxlength="15"  />
		</label>
		

		<label>
		<span>&nbsp;</span>
		
		<input type="button" id="bt" value="提交" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"  />
		
		<span>&nbsp;</span>
		</label>


		</form>
	</div>


	<button type="button" class="genpage btn btn-primary btn-lg" data-toggle="modal" data-target="#genpage">
 生成你的音乐留言板
</button>
	

	<script>
	  $('#bt').on('click', function () {
		$("#forms").slideUp(800);
		var name =$("#name").val();
        var message = $("#message").val();
        var selection=$("#selection").val();
        $(".panel-heading").html(name);
        $(".panel-body").html(message);
	  ;
	  });

	  $('#modifiy').on('click', function () {
		$("#forms").fadeIn(300);
	  ;
	  });

	</script>

	<script>
	$('#exampleModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) ;// Button that triggered the modal
	  var recipient = button.data('whatever'); // Extract info from data-* attributes
	  var modal = $(this);
	  modal.find('.modal-title').text('回复给 : ' + recipient+"楼");
	  $("#replayobjid").val(recipient);
	  });

	
	
	</script>
    <script>


  $("#sender").click(function(){
    var name =$("#name").val();
    var message = $("#message").val();
    var selection=5;
	

    $.get("addcomments/",{'name':name,'contents':message,'like':selection},function(ret){
      alert("留言成功啦");
    });
    });

   $("#rpsender").click(function(){

    var name = $("#recipient-name").val();
    var contents ="回复给："+$("#replayobjid").val()+"楼 ："+$("#message-text").val();
    var replayobj = $("#replayobjid").val();
	
    $.get("addreplay/",{'name':name,'contents':contents,'replayobj':replayobj },function(ret){
     alert('评论成功啦');
    });
    });

  </script>
	<script>
	
	 $("#sendgetpage").click(function(){
    var songlink =$("#songlink").val();
    var message = $("#songtext").val();

    $.get("addsong/",{'songlink':songlink,'contents':message},function(ret){
      alert(ret);

    });
    });
</script>
	
	
  </body>
</html>
