<ul id="searchResultUl">
	{% if resultlist%} {% for item in resultlist%}
	<li>
		<div class="songdetail">
			<span class="song_name">{{item.name}}  {{item.author}}</span>
		</div>

		<button class="searchitem" id="{{item.id}}" info="{{item.name}}  {{item.author}}">生成</button>
	</li>
	{%endfor%} {%endif%}
</ul>
<script>
	  $(".searchitem").click(function(){
	  	console.log("start genpage....");
	  		var songid=this.id;
	  		$("#songid").val(songid);
	  		console.log($(this).attr("info"));
	  		$("#genform_song").html($(this).attr("info"));

	  	  $('#genpageform').lightbox_me({
	        centered: true,
	        overlaySpeed:100,
	        overlayCSS:{background: 'black',
			opacity: .8},
	        onLoad: function() {
	            $('#genpageform').find('input:first').focus()
	            }
	        });		  
    });
</script>