<!DOCTYPE html>
<html lang="utf-8">
  <head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">

<title>制作你的的音乐留言板</title>

<link rel="stylesheet" href="../../static/css/index.css" type="text/css" />

<!-- <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> -->



	
</head>
  <body>

<div id="mask" style="background-color:rgba(0,0,0,.5);width:100%;height:3000px;position:absolute;z-index:9999;top:0;left:0;">
</div>

<div id="mainTop">
    <div id="searchOut" style="display: block;">
        <input type="search" class="SearchInput" placeholder="网易云链接或者直接搜索">
        <span id="searchButton" style="display: inline; opacity: 1;"></span>
    </div>
</div>
 {% if resultlist%}
<div class ="searchResult" id="serachResult">
<div class="sectionheader">
<h4>今日推荐</h4>
</div>
<ul id="searchResultUl">
    {% for item in resultlist%}
    <li>
        <div class="songdetail">
            <span class="song_name">{{item.name}}  {{item.author}}</span>
        </div>

        <button class="searchitem" id="{{item.id}}" info="{{item.name}}  {{item.author}}">生成</button>
    </li>
    {%endfor%} 
</ul>
</div>
{%endif%}
{% if gensonglist%}
<div class ="searchResult" id="addhistory">
<div class="sectionheader">
<h4>近期你生成</h4>
</div>
<ul id="searchResultUl">

     {% for item in gensonglist%}
    <li>
        <div class="songdetail">
            <span class="song_name">{{item.name}}  {{item.song_author}}</span>
        </div>

       <a  href="../song/{{item.id}}">看看</a>
    </li>
    {%endfor%} 
</ul>
</div>
{%endif%}

{% if comsonglist%}
<div class ="searchResult" id="comhistory">
<div class="sectionheader">
<h4>近期你评论的</h4>
</div>
<ul id="searchResultUl">

     {% for item in comsonglist%}
    <li>
        <div class="songdetail">
            <span class="song_name">{{item.name}}  {{item.story_author}}</span>
        </div>

        <a  href="../song/{{item.id}}">看看</a>
    </li>
    {%endfor%} 
</ul>
</div>
{%endif%}


<div id="genpageform">
    <form action="" id="comform" method="POST" class="bootstrap-frm">
        <h1 id="genform_song">
        </h1>
        <input type="hidden" name="songid" id="songid">
        <label>
            <input type="text" id="username" name="username" placeholder="小表砸,你叫啥?" class="required" />
        </label>
        <label>
            <textarea class="form-control" name="contents" id="songtext" placeholder="留下一些想说的,懂得人自然会明白(∩_∩)(∩_∩)" maxlength="500" required="required"></textarea>
        </label>
        <label>
            <div id="actions">
                <a class="close form_button sprited" style="float:left;margin-left:10%" id="cancel" >取消</a>
                 <a class="form_button sprited" style="display:none; float:right;margin-right:10%" id="sendstate" >正在生成...</a>
                <a class="form_button sprited" style="float:right;margin-right:10%" id="sendgetpage" >生成</a>
            </div>
        </label>
    </form>
</div>
<script src="../../static/js/jquery.min.js"></script> 

  <script>
$(document).ready(function(){
//页面淡入淡出
  $("#mask").fadeOut("slow");
});</script>


<script src="../../static/js/jquery.lightbox_me.js"></script>
<script>
      $(".searchitem").click(function(){
        console.log("start genpage....");
            var songid=this.id;
            $("#songid").val(songid);
            console.log($(this).attr("info"));
            $("#genform_song").html($(this).attr("info"));

          $('#genpageform').lightbox_me({
            centered: true,
            overlaySpeed:100,
            overlayCSS:{background: 'black',
            opacity: .8},
            onLoad: function() {
                $('#genpageform').find('input:first').focus()
                }
            });       
    });
</script>
<script>
		$(document).ready(function(){
				
		$("#searchButton").click(function() {

			console.log($(".SearchInput").val());
			key = $(".SearchInput").val();
			$.get("/search",{'keyword':key},function(ret){
			$("#serachResult").html(ret);
			});
		        });

 $("#sendgetpage").click(function(){
 	
    var songid =$("#songid").val();
    var username = $("#username").val();
    var message = $("#songtext").val();
    console.log(songid);
   $("#sendgetpage").hide();
   $("#sendstate").show();
    $.get("addsong/",{'songid':songid,'username':username,'contents':message},function(ret){
    	if (ret=='error') {
    		$("#username").focus();
            $("#sendstate").hide();
            $("#sendgetpage").show();

    	} 
    	else {
     
      $("#mask").fadeIn("slow");
      $('#genpageform').trigger('close');
      window.location.href='../../song/'+ret;
      }
    });
    });


		});
</script>
  </body>
</html>
