<!DOCTYPE html>
<html lang="utf-8">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
  <title>{{song.name}}-来自{{song.story_author}}制作的音乐留言板</title>
  <link rel="stylesheet" href="../../static/css/index.css" type="text/css" />
 
  <style>
    .up {
      width: 54px;
      height: 54px;
      background: url(../../static/images/topback.gif) no-repeat 0 0;
      filter: alpha(Opacity=40);
      -moz-opacity: 0.4;
      opacity: 0.4;
    }
  </style>




</head>
  <body>

<div id="mask" style="background-color:rgba(0,0,0,7);width:100%;height:3000px;position:absolute;z-index:9999;top:0;left:0;">
</div>


<div class="headerplay">
  <div class="music-player">

    <div class="info">
      <div class="center">
        <div class="jp-playlist">
          <ul>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="progress jp-seek-bar"> <span class="jp-play-bar" style="width: 0%"></span> </div>
    </div>
    <div class="controls">
      <div class="current jp-current-time">00:00</div>
      <div class="play-controls">

        <a href="javascript:;" class="icon-play jp-play" id="player_play" title="play"></a>
        <a href="javascript:;" class="icon-pause jp-pause" title="pause"></a>

      </div>

      <div id="jquery_jplayer" class="jp-jplayer"></div>
    </div>
  </div>

   
<div class="productList wrap clearfix" id="song_des">
  <ul class="clearfix story_line">
    <li>
      <a>
        <h4>{{song.story_author}}</h4>
        <p id="content">{{song.song_story}}</p>
      </a>
    </li>
  </ul>
</div>

<div class="des_board">

  <h1>
				{{song.story_author}}
			</h1>
  <p>{{song.song_story}}</p>
  <div class="msg">
    <span class="time">{{song.updated|date:'Y日m月d日H点'}}</span>
  </div>
  </li>


</div>
</br>


  <script src="../../static/js/jquery.min.js"></script> 
  <script>
$(document).ready(function(){
//页面淡入淡出

  $("#mask").fadeOut("slow");

});
    </script>
<div id="comment_contain">
{% include 'comments/ajax.html' %}
</div>



	<div id="forms" >
		<form action="" id="comform" method="POST" class="bootstrap-frm" >
            {% csrf_token %}
		<h1>留下你的
		</h1>
		<label>
		
		<textarea id="message" name="contents" placeholder="人矮轻拍" maxlength="100" minlength="4" required="required"></textarea>
		</label>
		<label>
		
		<input id="name"  type="text" name="name" placeholder="你的大名" required="required" maxlength="15"  />
		</label>
	
		<label>
		<input type="hidden" id="replayobjid" value=""  />
		<input type="button" id="sendstate" value="不要方,马上好..." class="sendstate"   />
		<input type="button" id="sendcomment" value="提交" class="btn btn-primary"   />
		
		
		</label>


		</form>
	</div>

  <div id="returnstate">
    <h1>谢谢</h1></br><h4>小生无力回报,但愿以身相许</h1></br><h6>继续留言请刷新</h6>
  </div>

</br></br></br>
 
<div class="footer_contain"> 
	<div class="footer_btn">
		<button type="button" class="btn_yu" id='btn_comment'>
		 留言
		</button>
			<button type="button"  class="btn_yu" id='genpage'>
		 生成你的音乐留言板
		</button>
	</div>
  </div>


	<script>

		$(document).ready(function(){

if ( $(window).height() >= $(document.body).height()) {
       console.log($(window).height());
        console.log($(document.body).height());
        $(".footer_contain").css("position" ,"fixed");
    }else{
 $(".footer_contain").css("position", 'absolute');

       console.log($(window).height());
        console.log( $(document.body).height());
    }



			$('#genpage').click(function(){
         $("#mask").fadeIn("slow");
				window.location.href='../../';
			});

		$('#song_des').click(function(e) {

			console.log('dashbaord');
		    $('.des_board').lightbox_me({
		        centered: true,
		        overlaySpeed:100,
		        overlayCSS:{background: 'black',
		opacity: .8},
		       
		        });
		   
		});




	   $("#sendcomment").click(function(){

    var name = $("#name").val();
    var contents =$("#message").val();
    var replayobj = $("#replayobjid").val();
    
    if(contents=="" | name==""){
    	console.log("blank input");
    	$("#name").focus();
     

    }
    else{
       $("#sendcomment").hide();
    $("#sendstate").show();
     
    $.get("/newcomment",{'parentid':{{song.id}},'name':name,'contents':contents,'parent_comment':replayobj },function(ret){
    	
    if(ret=="success"){
    	var page=1;
    	console.log("success add comment");

 		$.get("",{'page':page},function(ret){
    	$("#comment_contain").html(ret);
       $('#forms').trigger('close');
      $("html,body").animate({
      scrollTop:$("#song_des").offset().top},500);
      
       $("#sendstate").hide();
         $("#sendcomment").show();
         $("#message").val("");
         $("#name").val("");
         $("#replayobjid").val();
          
		
		 });
    }
     else {
     	console.log(ret);
    		$("#name").focus();
        $("#sendstate").hide();
         $("#sendcomment").show();
    
    	}
    });
}
    });

	   $('#btn_comment').click(function(){ 
	   	$("#replayobjid").val('0');
	    $('#forms').lightbox_me({
	        centered: true,
	        overlaySpeed:100,
	        overlayCSS:{background: 'black',
			opacity: .8},
	        onLoad: function() {
	            $('#forms').find('input:first').focus()
	            }
	        });		   
　　}); 



	    	});
	</script>



<script src="../../static/js/jquery.lightbox_me.js"></script>
<script src='../../static/js/jquery.jplayer.min.js'></script>
 <script src='../../static/js/jplayer.playlist.min.js'></script>

	


	<script>


$(document).ready(function(){


  var playlist = [{
      title:"{{song.name}}",
      artist:"{{song.song_author}}",
    
    mp3:"{{song.song_url}}",
    
      poster: "{{ song_pic }}"
    }];
  
  var cssSelector = {
    jPlayer: "#jquery_jplayer",
    cssSelectorAncestor: ".music-player"
  };
  
  var options = {
    swfPath: "http://cdnjs.cloudflare.com/ajax/libs/jplayer/2.6.4/jquery.jplayer/Jplayer.swf",
    supplied: "ogv, m4v, oga, mp3"
	
  };
  
  var myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);
 
  
});

</script>

 <script type="text/javascript" src="../../static/js/scrolltopcontrol.js"></script>
	<script>
	function scrollcomment(pos){
                	$("html,body").animate({
					scrollTop:100},400);
            }

	 $("#player_play").click(function(){
		scrollcomment();
		  
            });

	</script>
	
  </body>
</html>
