
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upoad</title>
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="../../static/css/main.css">
    <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script> 
	<script src="../../static/js/qiniu.js"></script> 
	<script src="../../static/js/plupload.full.min.js"></script> 
    <script src="../../static/js/ui.js"></script> 


</head>
<body>
<div class="container">
    <div class="text-left col-md-12 wrapper">
       
        <input type="hidden" id="domain" value="http://qiniu-plupload.qiniudn.com/">
        <input type="hidden" id="uptoken_url" value="gettoken">
       
    </div>
    <div class="body">
        <div class="col-md-12">
            <div id="container">
                <a class="btn btn-default btn-lg " id="pickfiles" href="#" >
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择文件</span>
                </a>
            </div>
        </div>


<script src="../../static/js/main.js"></script> 

</body>
</html>
<!--    <div class="modal fade" id="genpage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
        <div class="modal-content">
            
          <div class="modal-header">
          
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="genpagetitle">复制网易云音乐上的歌曲链接</h4>

          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="control-label">歌曲链接:</label>
                <input type="text" name="name" class="form-control" id="songlink" maxlength="150" required="required">
                 
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">说两句吧:</label>
                <textarea class="form-control" name="contents" id="songtext" maxlength="100" required="required"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" id="sendgetpage" class="btn btn-primary" data-dismiss="modal" >生成页面</button>
          </div>
        </div>
      </div>
    </div> -->


    <div id="forms2" >
        <form action="" id="comform" method="POST" class="bootstrap-frm" >

        <h1>复制网易云音乐上的歌曲链接
        </h1>
        <label>
        <span>歌曲 :</span>
        <input type="text" name="name" class="form-control" id="songlink" maxlength="150" required="required">
        </label>
        <label>
        <span>说几句吧 :</span>
            <textarea class="form-control" name="contents" id="songtext" maxlength="100" required="required"></textarea>
        </label>



        <label>

         <div id="actions">
                        <a class="close form_button sprited" style="float:left;margin-left:10%" id="cancel" href="#">取消</a>
                        <a class="form_button sprited" style="float:right;margin-right:10%" id="sendgetpage" href="#">生成</a>
                    </div>
        </label>


        </form>
    </div>